@import '../include/colors';
@import '../include/mixins';

.page-404 .container {
    min-height: 380px;
}

.page-404 h1 {
    font-size: 3rem;
}
.page-404 h2 {
    font-size: 2rem;
}
.page-404 h3 {
    font-size: 1.5rem;
}
.page-404 p {
    font-size: 16px;
}


/*
 * Extra extra large breakpoint 1400px - max
 */
@media only screen and (min-width: 1400px) {


    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Extra large breakpoint 1200 - 1399px
 */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {


    @media (orientation: landscape) {
        section.hero.auto-height {
            height: 1000px;
        }
    }
    @media (orientation: portrait) {

    }
}

/*
 * Large breakpoint 992px - 1199px
 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {


    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Medium breakpoint 768px - 991px
 */
@media only screen and (min-width: 768px) and (max-width: 991px) {


    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Small breakpoint 576px - 767px
 */
@media only screen and (min-width: 567px) and (max-width: 767px) {


    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * X-Small breakpoint 0 - 575px
 */
@media only screen and (min-width: 0px) and (max-width: 575px) {


    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}