@import '../include/colors';
@import '../include/mixins';

/*
 * Desktop first: Extra extra large breakpoint 1400px - max
 */
section.contact {
    .block-map {
        height: 400px;
    }
}

/*
 * Desktop first: Extra extra large breakpoint 1400px - max
 */
section.contact {
    .block-contact {
        h4 {
            font-size: 15px;
            position: relative;

            &:before {
                background: #efefef;
                content: "";
                height: 35px;
                left: 50%;
                position: absolute;
                top: -38px;
                transform: translate(0%, -50%);
                -ms-transform: translate(0%, -50%);
                width: 1px;
            }
        }

        i {
            margin-bottom: 30px;
            color: #097965;
            display: block;
            font-size: 30px;
        }

        .contact-form {
            position: relative;

            .input-columns {
                .column-1, .column-2 {
                    float: left;
                    width: 50%;
                }
            }
        }
    }
}



.input-columns .column-1 .column-inner {
    padding: 0 20px 0 0;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    background: #fafafa;
    border: 2px solid #fafafa;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-family: 'Lora-Italic', "Helvetica", "Arial", sans-serif;
    margin: 0 0;
    outline: 0 none;
    overflow: hidden;
    padding: 15px 20px;
    resize: none;
    width: 100%;
}
.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
    -ms-transform: translateY(-1px);
}
.contact-form textarea,
.reply-form textarea {
    font-family: 'Lora-Italic', "Helvetica", "Arial", sans-serif;
    width: 100%;
}
.contact-form .submit,
.contact-form .submit-button,
.reply-form .submit,
.reply-form .submit-button {
    cursor: pointer;
    position: relative;
    background: none;
    padding: 10px 35px;
}
.contact-form .submit:hover,
.contact-form .submit-button:hover {
    background: #097965;
    color: #ffffff;
}
.contact-form .field-error ul li {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    font-family: 'Lora-Italic', "Helvetica", "Arial", sans-serif;
    color: #c00000;
}
.contact-form .field-error ul li::before {
    content: '\2924\00a0\00a0\00a0\00a0' open-quote;
}
.contact-form .field-error ul li::after {
    content: close-quote;
}
.success,
.error {
    display: none;
    position: relative;
}
.success h2,
.error h2 {
    font-size: 11px;
    right: 0;
    position: absolute;
    text-transform: none;
    top: -50px;
}
.success h2 {
    color: #097965;
}
.error h2,
.success h2 {
    color: #61279e;
}
.errorForm {
    border: 2px solid #61279e !important;
}



/*
 * Extra extra large breakpoint 1400px - max
 */
@media only screen and (min-width: 1400px) {


    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Extra large breakpoint 1200 - 1399px
 */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {


    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Large breakpoint 992px - 1199px
 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    section.contact {
        .block-contact {
            p {
                font-size: 13px;
            }

            .contact-form {}
        }
    }

    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Medium breakpoint 768px - 991px
 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    section.contact {
        .block-contact {
            p {
                font-size: 13px;
            }

            .contact-form {}
        }
    }

    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Small breakpoint 576px - 767px
 */
@media only screen and (min-width: 567px) and (max-width: 767px) {
    section.contact {
        .block-contact {
            margin-bottom: 30px;

            p {
                font-size: 13px;
            }

            .contact-form {
                .input-columns {
                    .column-1 {
                        margin-bottom: 20px;
                    }

                    .column-1, .column-2 {
                        width: 100%;

                        .column-inner {
                            padding: 0;
                        }
                    }
                }

                .submit, .submit-button {
                    width: 100%;
                }
            }
        }
    }

    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * X-Small breakpoint 0 - 575px
 */
@media only screen and (min-width: 0px) and (max-width: 575px) {
    section.contact {
        .block-contact {
            margin-bottom: 30px;

            p {
                font-size: 13px;
            }

            .contact-form {
                .input-columns {
                    .column-1 {
                        margin-bottom: 20px;
                    }

                    .column-1, .column-2 {
                        width: 100%;

                        .column-inner {
                            padding: 0;
                        }
                    }
                }

                .submit, .submit-button {
                    width: 100%;
                }
            }
        }
    }

    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}