@import '../include/colors';
@import '../include/mixins';

.form-floating label {
    padding: 15px 20px;
    line-height: 26px;
}
.form-floating textarea.form-control {
    padding: 15px 20px;
}

@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: portrait) {

}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
    input,
    textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
    input,
    textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    input,
    textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    input,
    textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    input,
    textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
}

@media only screen and (max-width: 479px) {
    input,
    textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
}



/*
 * Extra extra large breakpoint 1400px - max
 */
@media only screen and (min-width: 1400px) {


    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Extra large breakpoint 1200 - 1399px
 */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {


    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Large breakpoint 992px - 1199px
 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {


    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Medium breakpoint 768px - 991px
 */
@media only screen and (min-width: 768px) and (max-width: 991px) {


    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Small breakpoint 576px - 767px
 */
@media only screen and (min-width: 567px) and (max-width: 767px) {


    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * X-Small breakpoint 0 - 575px
 */
@media only screen and (min-width: 0px) and (max-width: 575px) {


    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}