@import '../include/colors';
@import '../include/mixins';

/*
 * Desktop first: Extra extra large breakpoint 1400px - max
 */
section.hero {
    background-color: $mainColor;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0 0 10px 0;
    position: relative;

    &.auto-height {
        height: 1300px;
        overflow: hidden;
        padding: 0;

        .header .logo {
            margin-bottom: auto;
        }
    }

    .header {
        nav.navbar {
            z-index: 1;

            a.navbar-brand {
                h2 {
                    @include text-uppercase-30();
                    @include text-shadow();
                    font-family: "Montserrat-ExtraBold", "Helvetica", "Arial", sans-serif;
                }
            }

            .navbar-toggler {
                border-color: #fafafa;

                &:focus {
                    -webkit-box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.6);
                    box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.6);
                }

                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250,250,250, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
                }
            }

            .navbar-collapse {

                .navbar-nav {
                    li.nav-item {
                        margin-top: 2px;

                        a.nav-link {
                            font-family: "Lora-Italic", "Helvetica", "Arial", sans-serif;
                            font-size: 14px;
                            color: #fafafa;
                            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

                            &.disabled, &.light, &.active {
                                opacity: 0.5;
                            }

                            &.active {
                                opacity: .5;
                                position: relative;

                                &:before {
                                    content: '↓';
                                    position: absolute;
                                    top: -18px;
                                    left: 50%;
                                    margin-left: -3px;
                                }
                            }
                        }

                        &.dropdown {
                            ul.dropdown-menu {
                                opacity: 0.8;
                                li {
                                    a.dropdown-item {
                                        font-family: "Lora-Italic", "Helvetica", "Arial", sans-serif;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }

                    &.navbar-nav-right {
                        li.nav-item {
                            &.nav-line-before {
                                .nav-link {
                                    padding-left: 20px;

                                    &:after {
                                        padding-left: 8px;
                                        content: "|";
                                    }
                                }
                            }

                            &.nav-line-after {
                                .nav-link {
                                    padding-left: 0;
                                    padding-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .short-contact {
            display: block;
            margin-right: 40px;
            margin-top: 45px;
            position: relative;
            z-index: 1;

            li {
                display: inline-block;
                float: right;
                @include text-shadow();

                &.next {
                    margin-left: 30px;
                }

                .light {
                    opacity: .5;

                    &.selected {
                        position: relative;

                        &:before {
                            content: '↓';
                            position: absolute;
                            top: -18px;
                            left: 50%;
                            margin-left: -3px;
                        }
                    }
                }

                a {
                    @include text-shadow();

                    &.light {
                        &:hover {
                            opacity: 1;
                        }
                    }
                }

                span {
                    @include text-shadow();
                }
            }
        }
    }

    .inner-hero {
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;

        .hero-content {
            color: #ffffff;
            position: relative;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            -ms-transform: translateY(-50%);

            .profile-img {
                img {
                    width: 200px;
                    height: 200px;
                    border: 8px solid $lightGrey;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
                    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .20);
                    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .20);
                    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, .20);
                }
                .pimcore_editable_image {
                    margin: 0 auto;
                }
            }

            .profile-name {
                h2 {
                    font-size: 30px;
                    color: $lightGrey;
                    text-transform: uppercase;
                    position: relative;
                    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);

                    span {
                        font-size: 14px;
                        display: block;
                        text-transform: none;
                        margin-top: 1px;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

/*
 * Extra extra large breakpoint 1400px - max
 */
@media only screen and (min-width: 1400px) {


    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }

}

/*
 * Extra large breakpoint 1200 - 1399px
 */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    section.hero {
        &.auto-height {
            height: 850px;
        }

        .header {
            nav.navbar {
                a.navbar-brand {
                    h2 {}
                }

                .navbar-collapse {
                    .navbar-nav {
                        li.nav-item {
                            a.nav-link {
                                &.disabled, &.light, &.active {}
                                &.active {
                                    &:before {}
                                }
                            }

                            &.dropdown {
                                ul.dropdown-menu {
                                    li {
                                        a.dropdown-item {}
                                    }
                                }
                            }
                        }

                        &.navbar-nav-right {
                            li.nav-item {
                                &.nav-line-before {
                                    .nav-link {
                                        &:after {
                                        }
                                    }
                                }

                                &.nav-line-after {
                                    .nav-link {
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .short-contact {
                li {
                    &.next {
                    }
                }
            }
        }

        .inner-hero {
            .hero-content {
                .profile-img {
                    img {
                        height: 200px;
                        width: 200px;
                    }
                    .pimcore_editable_image {}
                }
                .profile-name h2 {
                    span {}
                }
                .profile-social {
                    bottom: -150px;
                }
            }
        }
    }

    @media (orientation: landscape) {
        section.hero {
            &.auto-height {
                height: 1000px;
            }
        }
    }
    @media (orientation: portrait) {

    }

}

/*
 * Large breakpoint 992px - 1199px
 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    section.hero {
        &.auto-height {
            height: 800px;
        }

        .header {
            nav.navbar {
                a.navbar-brand {
                    h2 {}
                }

                .navbar-collapse {
                    .navbar-nav {
                        li.nav-item {
                            a.nav-link {
                                &.disabled, &.light, &.active {}
                                &.active {
                                    &:before {}
                                }
                            }

                            &.dropdown {
                                ul.dropdown-menu {
                                    li {
                                        a.dropdown-item {}
                                    }
                                }
                            }
                        }

                        &.navbar-nav-right {
                            li.nav-item {
                                &.nav-line-before {
                                    .nav-link {
                                        &:after {}
                                    }
                                }

                                &.nav-line-after {
                                    .nav-link {}
                                }
                            }
                        }
                    }
                }
            }

            .short-contact {
                li {
                    &.next {}
                }
            }
        }

        .inner-hero {
            .hero-content {
                .profile-img {
                    img {
                        height: 200px;
                        width: 200px;
                    }
                    .pimcore_editable_image {}
                }
                .profile-name h2 {
                    span {}
                }
            }
        }
    }

    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Medium breakpoint 768px - 991px
 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    section.hero {
        &.auto-height {
            height: 700px;
        }

        .header {
            nav.navbar {
                a.navbar-brand {
                    h2 {}
                }

                .navbar-collapse {
                    .navbar-nav {
                        li.nav-item {
                            a.nav-link {
                                &.disabled, &.light, &.active {}
                                &.active {
                                    &:before {}
                                }
                            }

                            &.dropdown {
                                ul.dropdown-menu {
                                    li {
                                        a.dropdown-item {}
                                    }
                                }
                            }
                        }

                        &.navbar-nav-right {
                            li.nav-item {
                                &.nav-line-before {
                                    .nav-link {
                                        &:after {}
                                    }
                                }

                                &.nav-line-after {
                                    .nav-link {}
                                }
                            }
                        }
                    }
                }
            }

            .short-contact {
                li {
                    &.next {}
                }
            }
        }

        .inner-hero {
            .hero-content {
                .profile-img {
                    img {
                        height: 200px;
                        width: 200px;
                    }
                    .pimcore_editable_image {}
                }
                .profile-name h2 {
                    span {}
                }
            }
        }
    }

    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Small breakpoint 576px - 767px
 */
@media only screen and (min-width: 567px) and (max-width: 767px) {
    section.hero {
        &.auto-height {
            height: 700px;
        }

        .header {
            nav.navbar {
                a.navbar-brand {
                    h2 {}
                }

                .navbar-collapse {
                    .navbar-nav {
                        li.nav-item {
                            a.nav-link {
                                &.disabled, &.light, &.active {}
                                &.active {
                                    &:before {}
                                }
                            }

                            &.dropdown {
                                ul.dropdown-menu {
                                    li {
                                        a.dropdown-item {}
                                    }
                                }
                            }
                        }

                        &.navbar-nav-right {
                            li.nav-item {
                                &.nav-line-before {
                                    .nav-link {
                                        &:after {}
                                    }
                                }

                                &.nav-line-after {
                                    .nav-link {}
                                }
                            }
                        }
                    }
                }
            }

            .short-contact {
                margin-right: 40px;

                li {
                    display: block;
                    text-align: right;
                    float: none;
                    margin-top: 10px;

                    &.next {
                        margin-left: 0;
                    }
                }
            }
        }

        .inner-hero {
            .hero-content {
                .profile-img {
                    img {
                        height: 200px;
                        width: 200px;
                        border-width: 8px;
                    }
                    .pimcore_editable_image {}
                }
                .profile-name {
                    h2 {
                        font-size: 28px;
                        span {}
                    }
                }
                .profile-social {}
            }
        }
    }

    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * X-Small breakpoint 0 - 575px
 */
@media only screen and (min-width: 0px) and (max-width: 575px) {
    section.hero {
        &.auto-height {
            height: 700px;
        }

        .header {
            nav.navbar {
                a.navbar-brand {
                    h2 {}
                }

                .navbar-collapse {
                    .navbar-nav {
                        li.nav-item {
                            a.nav-link {
                                &.disabled, &.light, &.active {}
                                &.active {
                                    &:before {}
                                }
                            }

                            &.dropdown {
                                ul.dropdown-menu {
                                    li {
                                        a.dropdown-item {
                                            white-space: break-spaces;
                                        }
                                    }
                                }
                            }
                        }

                        &.navbar-nav-right {
                            li.nav-item {
                                &.nav-line-before {
                                    .nav-link {
                                        &:after {}
                                    }
                                }

                                &.nav-line-after {
                                    .nav-link {}
                                }
                            }
                        }
                    }
                }
            }

            .short-contact {
                margin-right: 40px;

                li {
                    display: block;
                    text-align: right;
                    float: none;
                    margin-top: 10px;

                    &.next {
                        margin-left: 0;
                    }
                }
            }
        }

        .inner-hero {
            .hero-content {
                .profile-img {
                    img {
                        height: 200px;
                        width: 200px;
                        border-width: 8px;
                    }
                    .pimcore_editable_image {}
                }
                .profile-name {
                    h2 {
                        font-size: 28px;
                        span {}
                    }
                }
                .profile-social {}
            }
        }
    }

    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Bootstrap (range) breakpoint 0 - 991px
 */
@media only screen and (min-width: 0px) and (max-width: 991px) {
    section.hero {
        .header {
            nav.navbar {
                a.navbar-brand {
                    h2 {
                        @include text-uppercase-30();
                        @include text-shadow();
                        font-family: "Montserrat-ExtraBold", "Helvetica", "Arial", sans-serif;
                    }
                }

                .navbar-collapse {
                    margin-top: 10px;
                    padding: 10px 10px 10px 30px;
                    background-color: rgba(0, 102, 113, .75);
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    border: 1px solid rgba(250, 250, 250, .5);

                    .navbar-nav {
                        li.nav-item {
                            &.no-mobile {
                                display: none;
                            }

                            a.nav-link {
                                &.active {
                                    &:before {
                                        content: '→';
                                        position: absolute;
                                        top: 7px;
                                        left: -18px;
                                        margin-left: -3px;
                                    }
                                }
                            }

                            &.dropdown {
                                ul.dropdown-menu {
                                    li {
                                        a.dropdown-item {
                                        }
                                    }
                                }
                            }
                        }

                        &.navbar-nav-right {
                            li.nav-item {
                                &.nav-line-before {
                                    a.nav-link {
                                        padding-left: 0;

                                        &:after {
                                            padding-left: 0;
                                            content: "";
                                        }
                                    }
                                }

                                &.nav-line-after {
                                    .nav-link {
                                        padding-left: 0;
                                        padding-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
