@import '../include/colors';
@import '../include/mixins';

/*
 * Desktop first: Extra extra large breakpoint 1400px - max
 */
section.skills {
    .button-skill-diagram {
        cursor: pointer;
        color: #097965;
    }

    .button-skill-table {
        cursor: pointer;
        color: #097965;
    }

    .block-skills,
    .block-language,
    .block-personal {
        text-align: center;
    }

    .block-skills {
        .skill-diagram {
            &.visible {
                display: block;
            }
            &.hidden {
                display: none;
            }

            ul.skills-list {
                li {
                    display: inline-block;
                    height: 350px;
                    margin-right: 10px;
                    width: 50px;

                    .progress {
                        background: none;
                        display: block;
                        height: 100%;
                        overflow: hidden;
                        position: relative;
                        margin-bottom: 0;
                        box-shadow: none !important;
                        -webkit-box-shadow: none !important;
                        -moz-box-shadow: none !important;
                        -o-box-shadow: none !important;

                        h4 {
                            bottom: 0;
                            color: #fff;
                            font-size: 12px;
                            line-height: 16px;
                            left: 17px;
                            position: absolute;
                            text-transform: uppercase;
                            transform: rotate(-90deg);
                            -ms-transform: rotate(-90deg);
                            transform-origin: left top 0;
                            -webkit-transform-origin: left top 0;
                            z-index: 1;
                            white-space: nowrap;
                            text-align: left;

                            &.two-rows {
                                margin-bottom: -16px;
                                left: 10px;
                            }

                            &.outer {
                                font-family: Montserrat-Bold, Helvetica, Arial, sans-serif;
                            }
                        }

                        .percentage {
                            bottom: 0;
                            position: absolute;
                            width: 50px;
                            border-radius: 4px;

                            span {
                                color: #ffffff;
                                font-size: 10px;
                                left: 31px;
                                position: absolute;
                                text-transform: uppercase;
                                top: 25px;
                                transform: rotate(-90deg);
                                -ms-transform: rotate(-90deg);
                                transform-origin: left bottom 0;
                                -webkit-transform-origin: left bottom 0;
                                z-index: 1;
                            }
                        }

                        &.framework {
                            .percentage {
                                background-color: #096579;
                            }
                        }

                        &.programming-language {
                            .percentage {
                                background-color: #097965;
                            }
                        }

                        &.software-architecture {
                            .percentage {
                                background-color: #650979;
                            }
                        }

                        &.tool {
                            .percentage {
                                background-color: #657909;
                            }
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                        vertical-align: top;

                        .progress {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .skill-table {
            &.visible {
                display: block;
            }
            &.hidden {
                display: none;
            }
        }
    }

    .block-language {
        .language-list {
            li {
                display: inline-block;
                margin: 15px 15px;

                h4 {
                    color: #707070;
                    font-size: 15px;
                    position: relative;

                    &:before {
                        background: #097965;
                        content: "";
                        height: 30px;
                        left: 50%;
                        position: absolute;
                        top: -45px;
                        transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        width: 1px;
                    }
                }

                span {
                    border-radius: 50%;
                    padding: 20px;
                    width: 130px;
                    height: 130px;
                    display: inline-block;
                    position: relative;
                    font-size: 16px;
                    color: #333333;

                    &:before {
                        box-shadow: 0 0 13px rgba(0, 0, 0, 0.2) inset;
                        -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.2) inset;
                        -moz-box-shadow: 0 0 13px rgba(0, 0, 0, 0.2) inset;
                        -o-box-shadow: 0 0 13px rgba(0, 0, 0, 0.2) inset;
                        border-radius: 50%;
                        content: "";
                        height: 130px;
                        left: 50%;
                        padding: 20px;
                        position: absolute;
                        top: 50%;
                        width: 130px;
                        transform: translateX(-50%) translateY(-50%);
                        -ms-transform: translateX(-50%) translateY(-50%);
                    }

                    &.p90 {
                        border: 30px solid #097965;
                        line-height: 30px;
                    }

                    &.p60 {
                        border: 20px solid #097965;
                        line-height: 50px;
                    }

                    &.p30 {
                        border: 10px solid #097965;
                        line-height: 70px;
                    }
                }
            }
        }
    }

    .block-personal {
        .personal-list {
            background: #097965;
            display: inline-block;
            padding: 12px 40px;
            position: relative;
            border: 2px solid #08584a;

            li {
                display: inline-block;
                font-size: 11px;
                margin: 0 15px;
                text-transform: uppercase;
                color: #fafafa;
                position: relative;

                &:first-child {
                    &:before {
                        content: "";
                    }
                }

                &:before {
                    content: " . ";
                    font-size: 30px;
                    left: -20px;
                    position: absolute;
                    top: -20px;
                }
            }
        }
    }
}

section.skills {
    .block-skills {
        .skill-diagram {
            ul.skills-list {
                .popper {
                    .popper-popup {
                        background-color: #666;
                        color: #ffffff;
                        padding: 20px;
                        border-radius: 4px;
                        z-index: 1000;
                        margin-left: -10px;
                        font-family: "Lora-Regular", "Helvetica", "Arial", sans-serif;
                        opacity: 0;
                        display: none;
                        transition: opacity 0.2s;
                        max-width: 400px;
                        line-height: 25px;
                        font-size: 14px;

                        .popper-arrow,
                        .popper-arrow::before {
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            background: inherit;
                        }

                        .popper-arrow {
                            visibility: hidden;
                        }

                        .popper-arrow::before {
                            visibility: visible;
                            content: '';
                            transform: rotate(45deg);
                            margin-left: -5px;
                        }

                        &[data-show] {
                            opacity: 0.9;
                            display: block;
                            transition: opacity 0.2s;
                        }

                        &[data-popper-placement^='top'] > .popper-arrow {
                            bottom: -4px;
                        }

                        &[data-popper-placement^='bottom'] > .popper-arrow {
                            top: -4px;
                        }

                        &[data-popper-placement^='left'] > .popper-arrow {
                            right: -4px;
                        }

                        &[data-popper-placement^='right'] > .popper-arrow {
                            left: -4px;
                        }
                    }

                    &:hover .popper-popup {

                    }
                }
            }
        }
    }
}

@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: portrait) {

}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
    section.skills {
        .block-skills {
            .skill-diagram {
                ul.skills-list {
                    li {
                        height: 58vh;
                    }
                }
            }
        }
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {

}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    section.skills {
        .block-skills {
            .skill-diagram {
                ul.skills-list {
                    li {
                        height: 60vh;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    section.skills {
        .block-skills {
            .skill-diagram {
                ul.skills-list {
                    li {
                        height: 350px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    section.skills {
        .block-skills {
            .skill-diagram {
                ul.skills-list {
                    li {
                        height: 350px;
                        margin-right: 1px;
                        width: 40px;

                        .progress {
                            h4 {
                                left: 12px;
                                &.two-rows {
                                    left: 5px;
                                }
                            }

                            .percentage {
                                width: 40px;
                                span {
                                    left: 26px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .block-personal {
            .personal-list {
                li {
                    display: block;
                    margin: 15px 0;

                    &:first-child {
                        &:before {
                            content: "";
                        }
                    }

                    &:before {
                        content: "";
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 479px) {
    section.skills {
        .block-skills {
            .skill-diagram {
                ul.skills-list {
                    li {
                        height: 550px;
                        margin-right: 1px;
                        width: 40px;

                        .progress {
                            h4 {
                                left: 12px;

                                br {
                                    display: none;
                                }

                                &.two-rows {
                                    left: 12px;
                                    margin-bottom: 0;
                                }

                                &.outer {
                                }
                            }

                            .percentage {
                                span {
                                    left: 26px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .block-personal {
            .personal-list {
                li {
                    display: block;
                    margin: 15px 0;

                    &:first-child {
                        &:before {
                            content: "";
                        }
                    }

                    &:before {
                        content: "";
                    }
                }
            }
        }
    }
}



/*
 * Extra extra large breakpoint 1400px - max
 */
@media only screen and (min-width: 1400px) {


    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Extra large breakpoint 1200 - 1399px
 */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {


    @media (orientation: landscape) {
        section.hero.auto-height {
            height: 1000px;
        }
    }
    @media (orientation: portrait) {

    }
}

/*
 * Large breakpoint 992px - 1199px
 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {


    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Medium breakpoint 768px - 991px
 */
@media only screen and (min-width: 768px) and (max-width: 991px) {


    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Small breakpoint 576px - 767px
 */
@media only screen and (min-width: 567px) and (max-width: 767px) {


    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * X-Small breakpoint 0 - 575px
 */
@media only screen and (min-width: 0px) and (max-width: 575px) {


    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}