@import '../include/colors';
@import '../include/mixins';

/*
 * Desktop first: Extra extra large breakpoint 1400px - max
 */
section.work {
    .container {
        .flex-container {
            display: flex;
            flex-wrap: wrap;

            .flex-item {
                width: calc(33.33%);
                padding-bottom: 24px;
            }
        }

        .box.work {
            .box-img {
                height: 140px;

                img {
                    height: 140px;
                }

                img, source {
                    object-fit: cover;
                }
            }
            .box-content {
                h4 {
                    padding-left: 10px;
                    padding-right: 10px;
                }

                span.title-description {
                    display: block;
                    height: 120px;

                    span.title {
                        display: block;
                        font-family: Montserrat-SemiBold,Helvetica,Arial,sans-serif;
                    }

                    span.description {
                        display: block;
                        font-size: 13px;
                        color: #666666;
                        margin-top: 5px;
                        font-family: 'Lora-Italic', "Helvetica", "Arial", sans-serif;
                    }
                }

                span.category {
                    display: block;
                    font-size: 13px;
                    color: #999999;
                    margin-top: 5px;
                    font-family: 'Lora-Italic', "Helvetica", "Arial", sans-serif;
                }

                span.date {
                    display: block;
                    font-size: 11px;
                    color: #666666;
                    margin-top: 3px;
                }
            }
        }
    }
}

.block-filter ul {
    display: inline-block;
    position: relative;
}
.filter li {
    display: inline-block;
    font-size: 14px;
    margin: 0 20px;
    position: relative;
}
.filter li a {
    color: #333333;
}
.filter li a:hover {
    color: #097965;
}
.filter li a.active:before,
.filter li a.active:after {
    height: 10px;
}
.filter li a.active {
    color: #097965;
}
.filter li a:before {
    background: #097965;
    content: "";
    height: 0px;
    left: 50%;
    position: absolute;
    width: 1px;
    top: -20px;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.filter li a:after {
    background: #097965;
    content: "";
    height: 0px;
    left: 50%;
    position: absolute;
    width: 1px;
    bottom: -20px;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.disable:before {
    background-color: #ffffff;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 12;
}

/*
 * Extra extra large breakpoint 1400px - max
 */
@media only screen and (min-width: 1400px) {

    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Extra large breakpoint 1200 - 1399px
 */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Large breakpoint 992px - 1199px
 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    section.work {
        .container {
            .flex-container {
                .flex-item {
                    width: calc(50%);
                }
            }

            .box.work {

            }
        }
    }

    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Medium breakpoint 768px - 991px
 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    section.work {
        .container {
            .flex-container {
                .flex-item {
                    width: calc(50%);
                }
            }

            .box.work {
                h3 {
                    span.title {
                        height: 90px;
                    }
                }
            }
        }
    }

    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * Small breakpoint 576px - 767px
 */
@media only screen and (min-width: 567px) and (max-width: 767px) {
    section.work {
        .container {
            padding-bottom: 6px !important;

            .flex-container {
                .flex-item {
                    width: calc(50%);
                }
            }

            .box.work {

            }
        }
    }

    .filter li {
        display: block;
        margin: 40px 0;
    }
    .filter li:first-child {
        margin-top: 20px;
    }
    .filter li:last-child {
        margin-bottom: 0;
    }

    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}

/*
 * X-Small breakpoint 0 - 575px
 */
@media only screen and (min-width: 0px) and (max-width: 575px) {
    section.work {
        .container {
            padding-bottom: 0 !important;

            .flex-container {
                .flex-item {
                    width: calc(100%);
                    padding-bottom: 30px;
                }
            }

            .box.work {

            }
        }
    }

    .filter li {
        display: block;
        margin: 40px 0;
    }
    .filter li:first-child {
        margin-top: 20px;
    }
    .filter li:last-child {
        margin-bottom: 0;
    }

    @media (orientation: landscape) {

    }
    @media (orientation: portrait) {

    }
}